/* =========== ESPECIFICOS ========== */

#cancoes {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9)), url('../images/capas/cancoes.jpg');
    background-position: center;
    background-size: cover;
}

#cosmo {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9)), url('../images/capas/cosmo.jpg');
    background-position: center;
    background-size: cover;
}

#praia {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9)), url('../images/capas/apraia.webp');
    background-position: center;
    background-size: cover;
}

#ciceroealbatroz {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9)), url('../images/capas/ciceroealbatroz.jpg');
    background-position: center;
    background-size: cover;
}

#sabado {
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9)), url('../images/capas/sabado.jpg');
    background-position: center;
    background-size: cover;
}

/* =========== HEADER ========== */

header {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.h-superior .container,
.h-inferior .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-superior {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
}

.h-inferior {
    width: 100%;
    height: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.9));
}

.h-inferior h1 {
    color: white;
    font-weight: 500;
}

.capa-album {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.capa-album figure {
    margin: 0;
}

.capa-album img {
    width: 100%;
    height: 100%;
}

/* =========== MÚSICAS ========== */
.s-musicas {
    width: 100%;
    display: flex;
    justify-content: center;
}

.s-musicas ol {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0;
    list-style-position: inside;
}

.s-musicas li {
    width: 100%;
    padding: 20px 0px;
    color: white;
    border-top: 1px solid #909090;
    font-size: 15pt;
    box-sizing: border-box;
}

.s-musicas li:first-child {
    border-top: none;
}


.s-musicas a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15pt;
    text-decoration: none;
}

.s-musicas a:hover {
    font-weight: 500;
}

.s-musicas li:first-child a {
    border-top: none;
}

.s-musicas li:hover a img {
    opacity: 1;
    animation: fadein 0.5s;
}

.s-musicas a img {
    opacity: 0;
    width: 31px;
    float: right;
}

/* =========== VOLTAR ========== */

.voltar {
    position: absolute;
    top: 0;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.voltar a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.voltar div {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar:hover div {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.6s;
}

.voltar span {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.voltar:hover span {
    color: rgba(255, 255, 255, 1);
    transition: 0.6s;
}

/* =========== UTEIS ========== */


.sombraCinza {
    box-shadow:
    #A8A8A8 0px 1px 3px 0px,
    #C3C3C3 0px 1px 1px 0px,
    #D5D5D5 0px 2px 1px -1px;
}

/* =========== ANIMAÇÕES ========== */
@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}