@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* =========== CONFIGURAÇÕES GERAIS ========== */

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* =========== CONTAINER ========== */

.container {
  width: 100%;
  max-width: 100%;
  padding: 0px 35px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

body {
  background-color: rgba(0, 0, 0);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #424242;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bdbdbd;
}
