<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade 10 | Vue.js</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://br.vuejs.org/images/icons/favicon-32x32.png"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./stylesheets.css" />
  </head>
  <body>
    <div id="app">
      <section>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Username</span>
        <input
          v-model="nome"
          type="text"
          class="form-control"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
    </section>
      <section>
        <p>Sexo</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" v-model="sexo" value="M" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" v-model="sexo" value="F" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Feminino
          </label>
      </section>
      <section>
        <p>Idiomas</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="PT"
            v-model="idiomas"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Português
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="IN"
            v-model="idiomas"
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Inglês
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="ESP"
            v-model="idiomas"
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            Espanhol
          </label>
        </div>
      </section>
      <section>
        <p>Pais</p>
        <select class="form-select" v-model="pais" aria-label="Default select example">
          <option selected value="BR">Brasil</option>
          <option value="USA">Estados unidos</option>
          <option value="ES">Espanha</option>
        </select>
      </section>
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          nome: '',
          sexo: '',
          idiomas: [],
          pais: ''
        },
        
      });
    </script>
  </body>
</html>
